
/.project
/.classpath
/.settings
/target
/reports
/*.iml
/*.ipr
/*.iws
/.metadata
/.idea/
/bin/

*.class
/.checkstyle
# Mobile Tools for Java (J2ME)
.mtj.tmp/
/.externalToolBuilders
# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/csfcache
/catalina.base_IS_UNDEFINED
/target/
/logs
/target/
